{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar{% endblock %}
    
<link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'core/css/main.css' %}" rel="stylesheet"> 
 
 
 
 
 <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'core/js/main.js' %}"></script>
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <div>
            <form class="formulario " action="" method="post">{% csrf_token %}
           
                    {{ form.as_p }}
   
                <div class="text-center">
                  <input class="btn btn-primary btn-block" type="submit" value="Actualizar página" />
                </div>
                
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
